body {
    text-align: center;
}

h1 {
    font-size: 40px;
    text-decoration: underline;
    padding: 10px;
    padding-top: 25px;
    padding-bottom: 20px;
}

h2 {
    text-align: left;
    margin: 16px;
    background-color: gold;
    font-weight: normal;
    font-size: 16px;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-width: 1px;
    border-color: darkgrey;
    border-style: solid;
    border-radius: 10px;
}

p {
    background-color: aliceblue;
    margin: 16px;
    font-size: 16px;
    text-align: left;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-width: 1px;
    border-color: darkgrey;
    border-style: solid;
    border-radius: 10px;
}

table {
    font-size: 16px;
}

.my_row {
    display: table;
    border-spacing: 4px;
}

.column1 {
    display: table-cell;
}

.column2 {
    display: table-cell;
    font-size: 28px;
    color: red;
}

#bottom {
  margin: 16px;
  clear: both;
  background-color: lawngreen;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-width: 1px;
  border-color: darkgrey;
  border-style: solid;
  border-radius: 10px;
}

#submit {
  margin: 0 auto;
}
